.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
button{
  width:160px;
  height:60px;
  background-color:purple;
  color: white;
  border: none;
  font-size:20px;
  cursor:pointer;
}
.cosmetic{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  background-color:#282c34;
  padding: 10px;
}
.cosmetic-detail{
  border:1px solid red;
  padding: 20px;
  color:#fff;
  background-color:green;
  border-radius:10px;
}